* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  background-image: url("https://picsum.photos/1600/1050");
  background-size: cover;
  background-position: center;
}

.weather-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  background: linear-gradient(135deg, rgba(248, 248, 248, 0.8) 0%, rgba(220, 220, 220, 0.9) 50%, rgba(248, 248, 248, 0.8) 100%);
  -webkit-box-shadow: 0px 0px 10px 3px rgba(36, 36, 36, 0.05);
          box-shadow: 0px 0px 10px 3px rgba(36, 36, 36, 0.05);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.weather-info__search-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px;
}

.weather-info__search-view #errInfo {
  display: none;
  color: red;
}

.weather-info__search-view label {
  font-size: 2rem;
}

.weather-info__search-view input {
  background-color: #f8f8f8;
  padding: 5px 15px;
  margin: 10px;
  border: 2px solid black;
  font-size: 1.1rem;
  text-align: center;
}

.weather-info__search-view input:focus {
  background-color: #fcfcfc;
}

.weather-info__search-view button {
  padding: 10px 20px;
  background-color: #333;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  margin-top: 10px;
}

.weather-info__search-view button:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.weather-info__forecast-view {
  display: none;
  padding: 0 15px;
  width: auto;
}

@media (min-width: 576px) {
  .weather-info__forecast-view {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .weather-info__forecast-view {
    width: 720px;
  }
}

.weather-info__temperatures h3 {
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 1px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.weather-info__temperatures h3 span {
  font-weight: normal;
}

.weather-info__temperatures__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px 5px 25px 5px;
}

.weather-info__temperatures__wrap p {
  font-weight: bold;
  margin-top: 15px;
  width: 50%;
  -webkit-text-decoration: underline rgba(0, 0, 0, 0.2);
          text-decoration: underline rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  text-align: center;
}

.weather-info__temperatures__wrap p:last-child {
  width: 100%;
}

.weather-info__temperatures__wrap span {
  font-weight: normal;
}

.weather-info__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

.weather-info__city h1 {
  font-size: 2rem;
  letter-spacing: 2px;
}

.weather-info__city .weatherIcon {
  width: 80px;
}

.weather-info__btn-return {
  position: absolute;
  padding: 5px;
  background: none;
  border: none;
  cursor: pointer;
  top: 5px;
  right: 5px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.weather-info__btn-return i {
  font-size: 1.8rem;
  color: #333;
}

.weather-info__btn-return:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.leftBtn,
.rightBtn {
  display: none;
  position: absolute;
  padding: 5px;
  background: none;
  border: none;
  cursor: pointer;
  top: 82%;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  opacity: 0.7;
}

.leftBtn:hover,
.rightBtn:hover {
  opacity: 1;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.leftBtn i,
.rightBtn i {
  font-size: 1.8rem;
  color: #333;
}

.leftBtn {
  left: 0px;
}

.rightBtn {
  right: 0px;
}
