/* media="screen and (min-width:768px) */
.weather-info__search-view {
  width: 500px;
  height: 300px;
  padding: 40px;
}

.weather-info__search-view label {
  font-size: 3.3rem;
}

.weather-info__search-view input {
  padding: 10px 20px;
  margin: 15px 15px 5px 15px;
  font-size: 1.6rem;
}

.weather-info__search-view button {
  font-size: 1.6rem;
}

.weather-info__search-view #errInfo {
  font-size: 1.3rem;
  padding: 5px 0;
}

.weather-info__forecast-view .wrap {
  padding: 35px;
}

.weather-info__city h1 {
  font-size: 3.4rem;
}

.weather-info__city .weatherIcon {
  width: 150px;
}

.weather-info__temperatures {
  letter-spacing: 1px;
}

.weather-info__temperatures h3 {
  font-size: 2.2rem;
}

.weather-info__temperatures p {
  font-size: 1.4rem;
}

.weather-info__btn-return i {
  font-size: 3.4rem;
}
