* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin btnStand {
  padding: 10px 20px;
  background-color: #333;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.3s;
  &:hover {
    transform: scale(0.95);
  }
}

@mixin btnBordNone {
  position: absolute;
  padding: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

@mixin btsContainer {
  padding: 0 15px;
  width: auto;

  @media (min-width: 576px) {
    width: 540px;
  }
  @media (min-width: 768px) {
    width: 720px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-image: url("https://picsum.photos/1600/1050");
  background-size: cover;
  background-position: center;
}

.weather-info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: linear-gradient(135deg, rgba(248, 248, 248, 0.8) 0%, rgba(220, 220, 220, 0.9) 50%, rgba(248, 248, 248, 0.8) 100%);
  box-shadow: 0px 0px 10px 3px rgba(36, 36, 36, 0.05);
  transition-duration: 0.5s;
  transition-property: opacity;
}

.weather-info__search-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  #errInfo {
    display: none;
    color: red;
  }
  label {
    font-size: 2rem;
  }
  input {
    background-color: rgb(248, 248, 248);
    padding: 5px 15px;
    margin: 10px;
    border: 2px solid black;
    font-size: 1.1rem;
    text-align: center;
    &:focus {
      background-color: rgb(252, 252, 252);
    }
  }

  button {
    @include btnStand;
    margin-top: 10px;
  }
}

.weather-info__forecast-view {
  display: none;
  @include btsContainer;
}

.weather-info__temperatures {
  h3 {
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: 1px;
    padding-top: 15px;
    padding-bottom: 10px;
    span {
      font-weight: normal;
    }
  }
}
.weather-info__temperatures__wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 5px 25px 5px;

  p {
    font-weight: bold;
    margin-top: 15px;
    width: 50%;
    text-decoration: underline rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    text-align: center;
    &:last-child {
      width: 100%;
    }
  }
  span {
    font-weight: normal;
  }
}

.weather-info__city {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  h1 {
    font-size: 2rem;
    letter-spacing: 2px;
  }
  .weatherIcon {
    width: 80px;
  }
}

.weather-info__btn-return {
  i {
    font-size: 1.8rem;
    color: #333;
  }
  @include btnBordNone;
  top: 5px;
  right: 5px;
  transition: transform 0.3s;
  &:hover {
    transform: scale(0.9);
  }
}

.leftBtn,
.rightBtn {
  display: none;
  @include btnBordNone;
  top: 82%;
  transition: opacity 0.3s, transform 0.3s;
  opacity: 0.7;
  &:hover {
    opacity: 1;
    transform: scale(0.9);
  }
  i {
    font-size: 1.8rem;
    color: #333;
  }
}

.leftBtn {
  left: 0px;
}

.rightBtn {
  right: 0px;
}
