* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin btnStand {
  padding: 10px 20px;
  background-color: rgb(0 75 99);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.3s;
  &:hover {
    transform: scale(0.95);
  }
}

@mixin btnBordNone {
  position: absolute;
  padding: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

@mixin btsContainer {
  padding: 0 15px;
  width: auto;

  @media (min-width: 576px) {
    width: 540px;
  }
  @media (min-width: 768px) {
    width: 720px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}
li {
  list-style: none;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background-image: url("https://picsum.photos/1600/1050");
  background-size: cover;
  background-position: center;
}

.weather-info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, rgba(0, 50, 93, 0.8) 0%, rgba(0, 0, 0, 0.9) 50%, rgba(0, 50, 60, 0.8) 100%);
  color: #ddd;
  transition-duration: 0.5s;
  transition-property: opacity;
}

.weather-info__search-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  #errInfo {
    display: none;
    color: red;
  }
  label {
    font-size: 2rem;
  }
  input {
    background-color: rgb(248, 248, 248);
    padding: 5px 15px;
    margin: 10px;
    border: 2px solid black;
    font-size: 1.1rem;
    text-align: center;
    &:focus {
      background-color: rgb(252, 252, 252);
    }
  }

  button {
    @include btnStand;
    margin-top: 10px;
  }
}

.weather-info__forecast-view {
  display: none;
  justify-content: center;
  @include btsContainer;
  .forecastTopSection {
    padding: 15px;
    .weatherCity {
      font-size: 2rem;
    }
  }
  .weatherItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .weatherItem {
      margin: 10px;
      padding: 10px;
      box-shadow: 0px 0px 5px #ddd;
      .itemHeader {
        display: flex;
        align-items: flex-start;
        font-size: 1.4rem;
        .title {
          margin-right: 5px;
        }
      }
      .itemTemp {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        margin-top: 10px;
        margin-bottom: 10px;
        .wheatherImg {
          margin-left: 10px;
          width: 40px;
        }
        .currentTemp {
          margin-right: 5px;
        }
      }
      .itemDetails {
        .parameter {
          margin: 7px 0;
          text-decoration: underline rgba(221, 221, 221, 0.431);
        }
      }
      &:first-child {
        box-shadow: 0px 0px 10px 4px #ddd;
      }
    }
  }
}

.weather-info__btn-return {
  i {
    font-size: 1.8rem;
    color: #ddd;
  }
  @include btnBordNone;
  top: 10px;
  right: 10px;
  transition: transform 0.3s;
  &:hover {
    transform: scale(0.9);
  }
}
