* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin blueBtn {
  padding: 10px 25px;
  background-color: #0089ff;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s;
  &:hover {
    transform: scale(0.95);
  }
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

h1 {
  font-size: 300%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url("https://picsum.photos/1600/1050");
  background-size: cover;
  background-position: center;
 
}

.weather-info {
  height: auto;
  width: 40%;
  min-width: 420px;
  min-height: 230px;
  padding: 2%;
  border-radius: 10px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(245, 245, 245, 0.9) 100%);
  box-shadow: 0px 0px 10px 3px rgba(36, 36, 36, 0.05);
  transition-duration: 0.5s;
  transition-property: opacity;
}

.weather-info__search-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 200px;
  #errInfo{
    display: none;
    color: red;
  }
}

.weather-info__search-view label {
  font-size: 200%;
}

.weather-info__search-view input {
  padding: 10px 50px;
  border: 2px solid black;
  font-size: 150%;
  text-align: center;
}

.weather-info__search-view button {
  @include blueBtn;
}

.weather-info__forecast-view {
  display: none;
  p {
    margin-top: 10px;
  }
}

.weather-info__city {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-info__btn-return {
  @include blueBtn;
}
