/* screen and (min-width:576px) */

.weather-info__search-view {
  label {
    font-size: 3rem;
  }
  input {
    padding: 10px 15px;
    margin: 15px;
    font-size: 1.5rem;
  }
  button {
    font-size: 1.5rem;
  }
}

.weather-info__forecast-view {
  .wrap {
    padding: 20px 10px;
  }
}

.weather-info__city {
  h1 {
    font-size: 2.7rem;
  }
  .weatherIcon {
    width: 100px;
  }
}

.weather-info__temperatures {
  h3 {
    font-size: 1.6rem;
  }
  p {
    font-size: 1.1rem;
  }
}

.weather-info__btn-return {
  i {
    font-size: 2.5rem;
  }
}
